<template>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


  
<h1>@lang('home.bl_an2')</h1>

<input type="button" class="btn btn-success createopen" data-toggle="modal" data-target="#createop" value="Open">

<?php 
                  
                  $counter = 0;
                      ?>-->


    <table id="vcurso-table" class="table table-striped">
        <thead>
            <tr>
                    
                    <th>No</th>
                    <th>Titulo</th>
                    <th>Body</th>
                    <th>Link</th>
                    <th>Action</th>
                    
            </tr>
        </thead>
        <tbody>
       
        </tbody>
    </table>







<!--
    <div class="modal modal-danger fade" tabindex="-1" id="edit" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <a href="#" class="navbar-brand"><img src="{{url('/images/CCURRlogo.png')}}" style="width:65px;"></a>
                          
                        <h4 class="modal-title lang" style="margin:0 auto;" key="news">@lang('home.bl_deleteconf')</h4>
                      
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                
                            
                </div>
                
                <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-md-4">
                    Titulo: </label>
                    <div class="col-md-8">
                    <input type="text" name="titulo" 
                    id="titulo" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">
                    Body: </label>
                    <div class="col-md-8">
                    <textarea name="body" 
                    id="body" cols="30" rows="10"
                    class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">
                    Link: </label>
                    <div class="col-md-8">
                    <input type="text" name="link" 
                    id="link" class="form-control"/>
                    </div>
                </div>
                </div>




                <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">@lang('home.bl_modalcancel')</button>
                <button @click="store" class="btn btn-primary">Save</button>
                </div>
                

                </div>
                </div>
                </div>







                <script src="https://cdn.jsdelivr.net/npm/vue"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>






    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>

   

    

        $('#vcurso-table').DataTable({
        
        columns:[
            
            {data:'nro',name:'nro'},
            {data:'titulo',name:'titulo'},
            {data:'body',name:'body'},
            {data:'link',name:'link'},
            {data:'action',name:'action',orderable:false,searchable:false}
            ]
    });

    $.fn.dataTable.ext.errMode = 'throw';

    
    

</script>-->

</template>

<script>
     export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>