@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vsx992');
  src:  url('fonts/icomoon.eot?vsx992#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vsx992') format('truetype'),
    url('fonts/icomoon.woff?vsx992') format('woff'),
    url('fonts/icomoon.svg?vsx992#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
