


.as{
	min-height:63px;
	background-color: rgb(8, 8, 160);
}



.question{
	padding: 20px;
	font-size: 22px;
	background: rgba(228, 20, 20, 0.931);
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #f6f6f6;
}

.option{
	/*width: 470px;*/
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	background: rgba(255, 255, 255, 0.5);
	margin: 10px 0 10px 10px;
	color: #000000;
	border-radius: 20px;
}

.option:hover{
	background: #08038C;
	color: #f6f6f6;
}



.result{
	height: 100px;
	text-align: center;
	font-size: 75px;
}

.option input:checked .option{
	background: #08038C;
	color: #000;
}


/* ------------------------------------------------------------------*/

@-webkit-keyframes next-btn {
	0% {
	  -webkit-transform: translateX(6px);
	  transform: translateX(6px);
	}
	50% {
	  -webkit-transform: translateX(2px);
	  transform: translateX(2px);
	}
	100% {
	  -webkit-transform: translateX(6px);
	  transform: translateX(6px);
	}
  }
  @keyframes next-btn {
	0% {
	  -webkit-transform: translateX(6px);
	  transform: translateX(6px);
	}
	50% {
	  -webkit-transform: translateX(2px);
	  transform: translateX(2px);
	}
	100% {
	  -webkit-transform: translateX(6px);
	  transform: translateX(6px);
	}
  }
  @-webkit-keyframes next-btn-sink {
	100% {
	  -webkit-transform: translateX(6px);
	  transform: translateX(6px);
	}
  }
  @keyframes next-btn-sink {
	100% {
	  -webkit-transform: translateX(6px);
	  transform: translateX(6px);
	}
  }
  .next-btn {
	display: inline-block;
	vertical-align: middle;
	
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .next-btn .nba {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
  }
  .next-btn:hover .nba {
	-webkit-animation-name: next-btn-sink, next-btn;
	animation-name: next-btn-sink, next-btn;
	

	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
  }

  .nba:hover{
	  color:white;
  }
  


























