@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face{
	src:url(fonts/Montserrat-Regular.ttf);
	font-family: 'Montserrat', sans-serif;
}

@font-face{
	src:url(fonts/Roboto-Regular.ttf);
	font-family: 'Roboto', sans-serif;
}




.st-total{
   
    font-family: 'Montserrat', sans-serif;
}


.st-btn *{
   
    font-family: 'Montserrat', sans-serif;
}


.borde1{
    background-color: rgb(8, 8, 160);
    height:50px;
}

.borde2{
    /*background-color: grey;*/
	min-height:450px;
	max-height:450px;
	
}

.borde3{
    background-color: rgb(245, 243, 251); /* rgb(182, 225, 250)*/
    min-height:750px;
}

.borde4{
    background-color: rgb(197, 186, 185);
    min-height:750px;
}

#content_area
{
	float: center;
	width: 750px;
	/*margin: 20px 0 20px 0;*/
	padding: 10px;
}

#sidebar
{
	/*float: center;*/
	position:relative;
	max-width:500px;/*  410px*/
	height: 400px;
	margin: 10px 0 10px 0;
	padding: 0;
	border: 1px solid black;
	background: black;
}

#img1
{
	width:70%;
	/*max-width:600px;
	min-width:300px;*/
	border-radius: 8px;
}


#socialicons a:visited
{
	color:yellow;
}

#sidebar ul
{
	
	top: 0;
	left: 0;
	width: 100%;
	height:100%;/* 100vh*/
	
	margin:0;
	padding:0;
	
}

#sidebar ul li
{
	list-style: none;
	position: relative;
	width:33.3%;
	height:100%;
	border-right: 1px solid #000;
	float: left;
	box-sizing: border-box;
	transition: 0.5s;
	text-align: center;
	overflow:hidden;
}


#sidebar ul:hover li
{
	
	width:5%;
}

#sidebar ul li:hover
{
	
	width:90%;
}

#sidebar ul li .content
{
	
	position:absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.7);
	box-sizing:border-box;
	color: #fff;
	opacity: 0;
}

#sidebar ul li:hover .content
{
	
	bottom: 0;
	transition: 0.5s;
	transition-delay:0.5s;
	opacity: 1;
}

#img2
{
	
	width:70%;
	/*max-width:600px;
	min-width:300px;*/
	border-radius: 8px;
	
	
}

.imgLeft
{
	float: left;
	
	width: 240px;
	height: 150px;
	margin: 0px 10px 10px 0;
	padding: 10px;
}

.imgRight
{
	float: right;
	
	width: 240px;
	height: 150px;
	margin: 0px 10px 10px 0;
	padding: 10px;
}

footer
{
	/*clear: both;*/
	/*width: auto;*/
	height: 80px;
	
	padding: 1em;
	border: 3px solid rgba(4, 10, 100, 0.808);
	text-align: center;
	color: #fff;
	text-shadow: 0.1em 0.1em #333;
	background-image: url(../images/ft.png);
}

#top{
	min-height:63px;
}



.fixed-top{
min-height:63px;
}/*
.navbar-brand{
	height:60px;
}*/
.navbar
{
	width: 100%;
}

/*.dropdown:hover > .dropdown-menu {
    display: block;
}*/


.carousel{
	/*min-height:490px;max*/

	max-height:650px;
	width:100%;
}

.carousel-item{
	/*min-height:490px;max*/
	
	max-height:650px;
	width: 100%;
	
}

#fig{
	/*min-height:180px;*/
	max-height:650px;
}
/*.carousel-inner .item{
	height: 100vh;
}*/

#ab{
	height:63px;
}

.carousel-inner img{
	width: 100%;
	height: 100%;
	margin: auto;
}

.carousel-caption{
	top:40%;
}

.carousel-caption h3{
	color:#fff !important;
}

.carousel-caption h1:first-child{
	animation-delay:1s;
}

.carousel-caption h3{
	animation-delay:2s;
}



.fa {
	
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;/* #55ACEE*/
    color: white;
}

.dropdown-menu{
	
background:transparent;
}

.dropdown-menu a {
	
transition:transform 0.28s;/*0.7s */

}


#target_id:hover{
color:white;
}

.dropdown-menu a:hover {
	
	background-color: rgba(228, 20, 20, 0.931);

	color: white;

	transform:scale(1.02);
	overflow:hidden;
}

.nav-item .nav-link {
color:rgba(11, 11, 132, 0.993);/*rgba(11, 11, 132, 0.993) */
 transition:transform 0.28s;/*0.7s */
 }

.nav-item:hover .nav-link {
	background-color: rgba(228, 20, 20, 0.931);
	color:white;
	border-radius:10px;
	transform:scale(1.02);
}


/* --------------------------------------------------------------------------------------------------------*/


.nav-item2:hover .nav-link {
	
	background-color: blue;
	color:rgb(8, 8, 160);
	border-radius:10px;

}

.justify-content-md-center {
	
    /*-ms-flex-pack: center!important;*/
    justify-content: center!important;
}

.navbar-collapse {
    /*-ms-flex-preferred-size: 100%;*/
    flex-basis: 100%;
    /*-ms-flex-positive: 1;*/
    flex-grow: 1;
    /*-ms-flex-align: center;*/
    align-items: center;
}

.fab {
	color:rgb(8, 8, 160);
}

.nav-link, .nav-link a:active{
	
	color: white;
}



.fa-facebook-square, .fa-youtube, .fa-twitter-square{
	margin-top:9px;
	font-size:21.5px;
}



.navbar-nav li a:hover{
	
	background:rgba(11, 11, 132, 0.993);
	
}

.navbar .socialbar .nav-item:hover .nav-link {
	
	background-color: white;
	color:rgba(228, 20, 20, 0.931);
	border-radius:10px;
}

.topnav-right{
	float: right;
}

.to-top{
	height: 65px;
  width: 65px;
	font-size:45px;
	display:none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background:rgba(8, 8, 160, 0.25);
	color:rgba(255, 255, 255, 0.25); 
	/*padding: 9px 9px 9px 9px;*/
	border-radius: 50%;
	cursor: pointer;
}

.to-top:hover{
	background:rgba(8, 8, 160);
	color: white;
}

/* --------------------------------------------------------------------------------------------*/
.swiper-container {
	width: 92%;/* 70 - 100%*/
	/*width:450px;*/
	height:450px;/* 380px*/
	padding-top: 50px;
	padding-bottom: 50px;
	/* background-color:black;*/
  }
  .swiper-slide {
	background-position: center;
	background-size: cover;
	
	width: 300px;/* 100%*/
	height: 380px;
	background:#fff;








	/* 
	display: -webkit-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;*/
  }

  .swiper-slide .imgBx
  {
	width:100%;/* width:100%;*/
	height:300px;
	overflow:hidden;
  }

  .swiper-slide .imgBx img
  {
	width:100%;/*width:100%;*/
	
  }

  .swiper-slide .details
  {
  	
	box-sizing:border-box;
	
	padding:20px;
  }

  .swiper-slide .details h3
  {
  	
	margin:0;
	padding:0;
	font-size:20px;
  }

  .swiper-pagination-bullet{
	background:none;
  }

  #map{
	  height: 400px;
	  width:40%;
  }


  /* -----------------------------------------------------------------------------------------*/
  #MagicCarousel{
	  min-height:120px;
	  max-height:650px;
  }

  .carousel-indicators > li {
	  /*margin-top:15px;*/
	/*border-radius: 50%;*/
	width: 12px;
    height: 12px;
  }

  #myCarousel-indicators > li {
  	/*margin-top:15px;*/
	border-radius: 50%;
	width: 12px;
	height: 12px;
  }

  .avatar{
  	
  	width:55px;
  	margin-bottom:15px;
  }

  *{
  	margin:0;
  	padding:0;
  }
  #indi1{
	position:fixed;
  	left:10px;
	  top:27%;
	  font-size:40px;
  }

  /*#interindi1{
	
	  top:20%;
	  
  }*/

  #indi2{
	position:fixed;
  	left:10px;
	  top:29%;
	  font-size:40px;
  }

  /*7_2_2020*/
  #indi3{
	position:fixed;
  	right:90px;
	  top:87%;
	  font-size:40px;
  }

  
  #chatbotboard{
	position:fixed;
	height:340px;
	max-width:280px;
	right:14px;
	top:34%;/*40% */
	font-size:1.5rem;
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	z-index:100;
}

  /*7_2_2020*/

  .red{
  	position:fixed;
  	left:0;
  	top:35%;
  	font-size:1.5rem;
  	display:flex;
  	flex-direction:column;
  	align-items:flex-end;
  	z-index:100;
  }


  .red ul
  {
  	list-style:none;
  }

  .red ul li a
  {
  	display:inline-block;
  	color:#fff;
  	background-color:#000;
  	/*padding:10px 15px;*/
  	padding:10px 15px;
  	text-decoration:none;
  	-webkit-transition:all 500ms ease;
  	-o-transition:all 500ms ease;
  	transition:all 500ms ease;
  }

  .red ul li .icon-facebook2{
  	background:#3b5998;
  	border-radius:0 1rem 0 0;
  }
  .red ul li .icon-youtube{
  	background:red;
  }
  .red ul li .icon-twitter{
  	background:#4EAFD6;
  	border-radius: 0 0 1rem 0;
  }
  /* ----------------------------------------------*/
  
/* ----------------------------------------------*/

  .red ul li a:hover
  {
  	
  	padding:10px 30px;
  	border-radius:0 1rem 1rem 0;
  	background: #000;
  	
  }

  .space_lg
{
width: 150px;
}

.cont
{

max-width: 1540px;
min-height: 325px;/*500*/
background: rgba(228, 20, 20, 0.931);
margin-top:20px;
margin-bottom:20px;

display:flex;
flex-direction:row;
flex-wrap:wrap;
}

.cont .box
{

position:relative;
width: 285px;
height: 285px;/*335px*/
background:#ff0;
margin:20px;

box-sizing:border-box;
display:inline-block;
}

.cont .box .imgBox
{
position:relative;
overflow:hidden;
}

.cont .box .imgBox img
{
max-width:100%;
transition:transform 2s;
}

.cont .box:hover .imgBox img
{
transform:scale(1.2);
}

.cont .box .details
{
	
position:absolute;
top:10px;
left:10px;
bottom:10px;
right:10px;
background:rgba(0,0,0,.6);
transform:scaleY(0);
transition:transform .5s;
}

.cont .box:hover .details
{
	
	transform:scaleY(1);
}

.cont .box .details .cont2
{
	
position:absolute;
top:50%;
transform:translateY(-50%);
text-align:center;
padding:15px;
color:rgb(231, 231, 231);
}

.cont .box .details .cont2 h2
{
	
margin:0;
padding:0;
font-size:20px;
}

.cont .box .details .cont2 p
{
	
margin:10px 0 0;
padding:0;

}

#bottom{
	background: rgb(5, 83, 167);
}

.bordea{
	background: rgb(5, 25, 45);
	
}

.bordeb{
	background:  rgb(5, 25, 45);
}


/*#face{
width: 90%;
}*/

#fh{
	/*transform:translateY(100%);*/
	
	text-align:center;
}

/* */
#fh a{
	
	display: inline-flex;
	width:50px;
	height:50px;
	text-decoration:none;
	background:#2c3e50;
	color:white;
	margin:0 6px;
	border-radius:50%;
	justify-content:center;
	align-items:center;
	transition:0.4s;
	font-size:20px;
}

#fh a:hover{
	
	background:blue;
}

#fh a i{

	transition:0.4s all;
}

#fh a:hover > i{

	transform:scale(1.5) rotate(360deg);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(11, 11, 132, 0.993)' stroke-width='3.7' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }



.custom-toggler.navbar-toggler {
  border-color: white;/* #FFFAFA*/
} 



#bt1car2{
	width:108px;
	height:28px;
	/*min-width: 90px;
	width:30%;*/
	background:red;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	overflow:hidden;
	color:#fff;
}

#bt1car3{
	width:108px;
	height:28px;
	/*min-width: 90px;
	width:30%;*/
	background:red;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	overflow:hidden;
	color:#fff;
}




#xy1:hover{
	background:rgba(11, 11, 132, 0.993);/*rgb(164, 164, 182) */
}


#xy2:hover{
	background:rgba(11, 11, 132, 0.993);
}

/*-------------------------------------------------------------------------------------------------- */

#bt1car{
	width:108px;
	height:28px;
	/*min-width: 90px;
	width:30%;*/
	background:red;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	overflow:hidden;
	color:#fff;
}

#bt1car:hover:before{
	top:-30px;
}

#bt1car:after{
  font-family: "Font Awesome 5 Free";
  
	content: "\f35a";
	position:absolute;
	top:calc(200px);
	left:50%;
	transform:translate(-50%,-50%);
	font-size:20px;
	transition:all 0.5s;
}

#bt1car:hover:after{
	top:50%;
}

#bt1car2:hover:before{
	top:-30px;
}

#bt1car2:after{
	font-family: "Font Awesome 5 Free";
	content: "\f35a";
	position:absolute;
	top:calc(200px);
	left:50%;
	transform:translate(-50%,-50%);
	font-size:20px;
	transition:all 0.5s;
}

#bt1car2:hover:after{
	top:50%;
}

#bt1car3:hover:before{
	top:-30px;
}

#bt1car3:after{
	font-family: "Font Awesome 5 Free";
	content: "\f35a";
	position:absolute;
	top:calc(200px);
	left:50%;
	transform:translate(-50%,-50%);
	font-size:20px;
	transition:all 0.5s;
}

#bt1car3:hover:after{
	top:50%;
}
/* */
#bt2car{
	width:72px;
	height:27px;
	/*min-width: 90px;
	width:30%;*/
	background:blue;
	/*top:50%;
	left:50%;
	transform:translate(-50%,-50%);*/
	overflow:hidden;
	color:#fff;
}

/*.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}*/



#bt2car:hover:before{
	top:-30px;
}

#bt2car:after{
	font-family: "Font Awesome 5 Free";
	content: "\f35a";
	position:absolute;
	top:calc(200px);
	left:50%;
	transform:translate(-50%,-50%);
	font-size:15px;
	transition:all 0.5s;
}

#bt2car:hover:after{
	top:50%;
}

/* ----------------------------------------------------------- */




.thecard2{
  
  width:250px;
  height:320px;
  transform-style:preserve-3d;
  transition:all 0.5s ease;
  
}

.thecard2:hover{
  transform:rotateY(180deg);
}

.tfront2{
  position:absolute;
  width:250px;
  height:320px;
  backface-visibility:hidden;
  background: url('images/cardf1.jpg')no-repeat;
  color:#333;
  text-align:center;
  border-radius:20px;
}

#text12{
  padding-top: 50%;
  align-items:center;/* 4s*/
  /*-webkit-animation:spin 14s linear infinite;
    -moz-animation:spin 14s linear infinite;
    animation:spin 14s linear infinite;*/
    /*-webkit-animation-delay:2s;*/


}


.tback2{
  position:absolute;
  width:250px;
  height:320px;
  backface-visibility:hidden;
  
  background:url('images/cardf2.jpg')no-repeat;
  color:#333;
  text-align:center;
  border-radius:20px;
  transform:rotateY(180deg);
}

#patroc{
	background-color:  rgba(228, 20, 20, 0.931);
}


.cool-link li{
	
	list-style:none;
}

.cool-link li a{
	
	text-decoration:none;
}

#lglogo:hover{
	/*-webkit-box-shadow: inset 0px 0px 15px 5px #909090;
	-moz-box-shadow: inset 0px 0px 15px 5px #909090;
	box-shadow: inset 0px 0px 15px 5px #909090;
*/
-webkit-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  -moz-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  -ms-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  -o-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  /* filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));*/
}



#esflag:hover{
	-webkit-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  -moz-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  -ms-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  -o-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
}

#usflag:hover{
	-webkit-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  -moz-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  -ms-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  -o-filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
  filter: drop-shadow(0 4px 8px rgba(0,0,0,35));
}



#ongvjg {
	
	-webkit-animation:spin 14s linear infinite;/* 4*/
    -moz-animation:spin 14s linear infinite;
    animation:spin 14s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.footer 
{
    /* default styles applied first */
}

@media screen and (min-height: 820px) /* height >= 820 px */
{
    .footer {
        position: absolute;
          bottom: 3px;
          left: 0px;
        /* more styles */
    }
}



  @-webkit-keyframes to-top {
	0% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
	50% {
	  -webkit-transform: translateY(-2px);
	  transform: translateY(-2px);
	}
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  @keyframes to-top {
	0% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
	50% {
	  -webkit-transform: translateY(-2px);
	  transform: translateY(-2px);
	}
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  @-webkit-keyframes to-top-sink {
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  @keyframes to-top-sink {
	100% {
	  -webkit-transform: translateY(-6px);
	  transform: translateY(-6px);
	}
  }
  .to-top {
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	/*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .to-top .nbu {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
  }
  .to-top:hover .nbu {
	-webkit-animation-name: to-top-sink, to-top;
	animation-name: to-top-sink, to-top;
	

	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
  }

  /*.nbu:hover{
	  color:white;
  }*/

  .ulink {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(2px) translateZ(0);
	transform: perspective(2px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	
  }
  .ulink:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: rgb(255, 255, 255);
	border-radius:40px;
	/*margin-top:21px;*/
	height: 3.1px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .ulink:hover:before{
	left: 0;
	right: 0;
  }
  
  .plustar1{
	display: inline-block;
	  border: none;
	  outline: none;
	  background: rgba(4, 10, 100, 0.808);
	  max-width: 300px;
	min-height: 35px;
	float: center;
	  border-radius: 20px;
	  
	  /*margin: 10px;*/
  }
  
  
  @-webkit-keyframes plustar {
	to {
	  -webkit-transform: scale(1.5);
	  transform: scale(1.5);/* 1.1*/
	}
  }
  @keyframes plustar {
	to {
	  -webkit-transform: scale(1.5);
	  transform: scale(1.5);
	}
  }
  .plustar {
	
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  
	-webkit-animation-name: plustar;
	animation-name: plustar;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
  }

  
/*NUEVO 13 AGOSTO*/
.c3{
display:inline-block;
cursor:pointer;
}

.bar1, .bar2, .bar3{
	width:35px;
	height:4px;
	background-color:rgb(11, 11, 132, 0.993);
	margin:6px 0;
	border-radius:20%;
	transition:0.4s ease;
}